<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/style/style.css" rel="stylesheet" />
    <!--[if gte IE 9]>
      <link href="/style/ie-gte9.css" rel="stylesheet" />
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="morsel-container">
        <div id="morsel-grid-container" class="morsel-grid-container loading-thumbs loading-data">
          <div class="loader"></div>
        </div>
        <div id="morsel-full-container" class="morsel-full-container">
          <a href="#" class="close-btn">&times;</a>
          <div id="morsel-full-slide" class="morsel-full-slide">
            <div class="loader"></div>
          </div>
        </div>
      </div>
      <div class="powered-by-morsel">
        <p>Powered by<a href="http://eatmorsel.com" target="_blank">Morsel</a></p>
      </div>
    </div>
    <script type="template" id="morsel-grid-template">
      <a class="morsel" href="#">
        <div class="morsel-wrap">
          <div class="morsel-caption-wrap">
            <div class="morsel-caption">
              <h2 class="morsel-title"><%= title %></h2>
            </div>
          </div>
          <div class="user-info">
            <img src="<%=creator.photos._40x40%>" />
            <h3 class="morsel-creator"><%=creator.first_name+' '+creator.last_name%></h3>
          </div>
          <div class="morsel-bg"></div>
          <div class="morsel-img" style="background-image:url(<%=coverPhoto%>)"></div>
        </div>
      </a>
    </script>
    <script type="template" id="morsel-full-template">
      <div class="morsel-full">
        <div class="morsel-mobile-info">
          <h2 class="morsel-title"><%= title %></h2>
          <div class="user">
            <span><img src="<%= getUserPhoto(creator) %>" /></span> <%= creator.first_name + ' ' + creator.last_name %>
          </div>
        </div>
      <% for(var i=0;i<items.length;i++) { %>
        <div class="morsel-item">
          <hr />
          <div>
            <div class="item-img-wrap">
              <div class="item-img">
                <div>
                  <img src="<%= getItemPhoto(items[i]) %>" />
                </div>
              </div>
            </div>
          </div>
          <div class="item-info">
            <% if(i > 0) { %>
            <div class="item-control prev-item">
              <a href="#" data-item-num="<%= i %>">Previous</a>
            </div>
            <% } %>
            <h2 class="morsel-title"><%= title %></h2>
            <div class="user">
              <span><img src="<%= getUserPhoto(creator) %>" /></span> <%= creator.first_name + ' ' + creator.last_name %>
            </div>
            <div class="item-description">
              <p><%= items[i].description %></p>
            </div>
            <% if(i < items.length-1) { %>
            <div class="item-control next-item">
              <a href="#" data-item-num="<%= i %>">Next</a>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </script>
    <script>
      var morselConfig = {
        placeId: {{{placeId}}},
        apiUrl: {{{apiUrl}}}
      };
    </script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <script type="text/javascript" src="/js/iframeResizer.contentWindow.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </body>
</html>