<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/style/shell.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body style="background-color: white;">
    <header style="text-align:center">
      <img class="header-img" src="/assets/mfk-demo/header.png"/>
      <img class="header-img-mobile" src="/assets/mfk-demo/header-mobile.png"/>
    </header>
    <div style="max-width:1200;margin:0 auto;">
      <div style="padding:0;max-width:960px;margin:0 auto;border:0;height:100%">
        {{#ifCond nodeEnv 'prod'}}
        <iframe border="0" frameborder="0" SCROLLING="no" style="border:0 none" src="http://morsel-widget.herokuapp.com/places/{{{placeId}}}" width="100%"></iframe>
        <script type="text/javascript" src="http://morsel-widget.herokuapp.com/js/iframeResizer.min.js"></script>
        {{else}}
        <iframe border="0" frameborder="0" SCROLLING="no" style="border:0 none" src="/places/{{{placeId}}}" width="100%"></iframe>
        <script type="text/javascript" src="/js/iframeResizer.min.js"></script>
        {{/ifCond}}
        <script>iFrameResize({heightCalculationMethod:'lowestElement'});</script>
      </div>
    </div>
    <footer style="text-align:center">
      <img class="footer-img" src="/assets/mfk-demo/footer.png"/>
      <img class="footer-img-mobile" src="/assets/mfk-demo/footer-mobile.png"/>
    </footer>
  </body>
</html>