<div class="morsel-full">
  <div class="morsel-mobile-info">
    <h2 class="morsel-title"><%= title %></h2>
    <div class="user">
      <span><img src="<%= getUserPhoto(creator) %>" /></span> <%= creator.first_name + ' ' + creator.last_name %>
    </div>
  </div>
<% for(var i=0;i<items.length;i++) { %>
  <div class="morsel-item">
    <hr />
    <div>
      <div class="item-img-wrap">
        <div class="item-img">
          <div>
            <img src="<%= getItemPhoto(items[i]) %>" />
          </div>
        </div>
      </div>
    </div>
    <div class="item-info">
      <% if(i > 0) { %>
      <div class="item-control prev-item">
        <span href="#" data-item-num="<%= i %>">Previous</span>
      </div>
      <% } %>
      <h2 class="morsel-title"><%= title %></h2>
      <div class="user">
        <span><img src="<%= getUserPhoto(creator) %>" /></span> <%= creator.first_name + ' ' + creator.last_name %>
      </div>
      <div class="item-description <%= i < items.length-1 ? 'small-description' : '' %>">
        <p><%= items[i].description %></p>
      </div>
      <% if(i < items.length-1) { %>
      <div class="item-control next-item">
        <span data-item-num="<%= i %>">Next</span>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
</div>