<a class="morsel" href="#">
  <div class="morsel-wrap">
    <div class="morsel-caption-wrap">
      <div class="morsel-caption">
        <h2 class="morsel-title"><%= title %></h2>
      </div>
    </div>
    <div class="user-info">
      <img src="<%=creator.photos._40x40%>" />
      <h3 class="morsel-creator"><%=creator.first_name+' '+creator.last_name%></h3>
    </div>
    <div class="morsel-bg"></div>
    <div class="morsel-img" style="background-image:url(<%=coverPhoto%>)"></div>
  </div>
</a>